@import "/styles/base.css";

:root {
  --foreground-color: #eee;
  --background-color: #222;
  --sphere-foreground: #13eb86;
  --sphere-background: #1693e6;
  background-color: var(--background-color);
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sphere {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    var(--sphere-foreground),
    var(--sphere-background)
  );
  animation-name: breath;
  animation-duration: 11s;
  animation-iteration-count: infinite;

  > .caption {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--foreground-color);
  }
}

@keyframes breath {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale(2);
  }
}
