:root {
  // color variables
  --foreground-color: #eee;
  --background-color: #222;
  --sphere-foreground: #13eb86;
  --sphere-background: #1693e6;

  // other variables
  --animation: paused;
  background-color: var(--background-color);
}

#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

// TITLE
.app-title {
  font-size: 1.6rem;
  color: var(--foreground-color);
}

// MODAL
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;

  @media (min-width: 769px) {
    display: none;
  }

  .modal-content {
    width: 90%;
    height: 75vh;
    position: relative;
    top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #eee;
    z-index: 10;

    .modal-logo {
      color: var(--background-color);
    }

    p {
      padding: 1rem;
    }
    .modal-btn {
      width: 5rem;
      padding: 0.5rem;
      border: none;
      border-radius: 0.2rem;
      color: var(--foreground-color);
      background-color: var(--background-color);
    }
  }
}

// SPHERE CONTAINER
.sphere-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .sphere {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background: radial-gradient(
      circle,
      var(--sphere-foreground),
      var(--sphere-background)
    );

    animation-name: breath;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    // animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-play-state: var(--animation);

    > .caption {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: var(--foreground-color);
    }

    > .caption::before {
      content: "";
      animation: sphere-caption;
      animation-duration: 11s;
      animation-iteration-count: infinite;
      // animation-fill-mode: both;
      transition: all;
      animation-timing-function: ease-in-out;
      animation-play-state: var(--animation);
    }
  }
  .sphere:hover {
    cursor: pointer;
  }
}

// SPHERE ANIMATION
@keyframes breath {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale(2);
  }
}

@keyframes sphere-caption {
  0% {
    opacity: 0;
    content: "inhale";
  }

  10%,
  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60%,
  90% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
    content: "exhale";
  }
}
